.oscuro{ 
    background-color: #1f1f1f;
    color: #f1eded;
}
.oscuro h2{
    background-color: #5d5959;
    color: #f1eded;
}
.oscuro h3{
    background-color: #5d5959;
    color: #f1eded;
}
h2{
    background-color: rgb(60, 200, 228);
}
h3{
    background-color:rgb(245, 121, 50)
}